@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
  font-family: 'Montserrat', sans-serif;
}

:root{
  --black: #042f40;
}

.content{
  display: flex;
  flex-direction: row;

}

.left-bar{
  top:10px;
  height: 100vh;
  width: 20%;
  position: fixed;
  background-color: #eb6b09;
 
  
}

.body{
  height: 100vh;
  flex: 1;
  
}

.Icon{
  margin-top: 50px;
  color: black;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.listIcon{
  margin-right: 11px;
  font-size: 25px;
  width: 30px;
}

.all-category{

  width: 100%;
}

.list{
  display: flex;
  flex-direction: row;
  height: 20px;

  padding: 20px 13px;
  text-decoration: none;
  color: black;
 
}
.title{
  margin-left: 20px;
  font-size: 20px;
}

.active{
  background-color: orange;
}
.body{
  margin-top: 50px;
}