@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
  font-family: 'Open Sans', sans-serif;
}

:root{
  --black: #490B3D;
  --yellow: #F1B814;
}

.content{
  display: flex;
  flex-direction: row;

}

.left-bar{
  top:10px;
  height: 100vh;
  width: 20%;
  position: fixed;
  background-color: #BD1E51;
 
  
}

.body{
  flex: 1;
  
}

.Icon{
  margin-top: 50px;
  color: white;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.listIcon{
  margin-right: 11px;
  font-size: 25px;
  width: 30px;
  color: white;
}

.all-category{

  width: 100%;
}

.list{
  display: flex;
  flex-direction: row;
  height: 20px;
  padding: 20px 13px;
  text-decoration: none;
  color: black;
 
}
.title{
  margin-left: 20px;
  font-size: 20px;
  color: white;
}

.active{
  background-color: orange;
}
.body{
  margin-left: -5px;
  margin-top: 48px;
  background-color: var(--yellow);
}



